body{
    background-color: rgb(64, 64, 172);
}

header{
    position:relative;
    top:10%;
    left:50%;
    font-family: fantasy,arial;
    font-size: 45%;
    color: aliceblue;
}
div{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    top: 50%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 10%;
}
p{
    text-align: center;
    font-family: fantasy;
    font-size: larger;
    font-style: normal;
}
.results{
    position: relative;
    width: 200px;
    height: 20px;
    margin-top: 20px;
    top: 50%;
    background-color: aliceblue;
    justify-content: center;
}

.button{
    position: relative;
    width: 200px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    top: 50%;
    background-color: aliceblue;
    margin-bottom: 5px;
    margin-bottom: 10px;
    font-family: fantasy;
}
.d4-container{
    left:5%;
}
.d6-container{
    left:30%;
}

.d8-container{
    left:55%;
}

.d10-container{
    left:80%;
    right:5%;
}

.roll-btn{
    position: absolute;
    top:80%;
    left:25%;
    align-items: center;
}

#roll-results{
    position: relative;
    top:60%;
    left: 50%;
}